@import url(setup.css);

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: var(--primary-color);
    background-image: url(../assets/hubble-ultra-deep-field.jpeg);
}

a {
    color: var(--secondary-color);
}

li {
    display: flex;
    justify-content: center;

    margin: 8px 0px 8px 0px;

    list-style-type: none;
    padding: 4px;
    border: 4px ridge var(--secondary-color);
    border-radius: 16px;

    color: var(--secondary-color);
    background-color: var(--primary-color);
}

li a {
    text-decoration-line: none;
}

li a:hover {
    text-decoration-line: underline;
}

.info-card {
    max-width: 495px;

    padding: 8px;
    border: 4px ridge var(--secondary-color);

    color: var(--secondary-color);
    background-color: var(--primary-color);
}